html, body{
	margin: 0;
	height: 100%;
	overflow: hidden;
}

canvas{
	width: 100%;
	height: 100%;
	display: block;
}

.button-container{
    position: fixed;
    right: 2%;
    top: 5%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 0.8vw, 20px);
}

.button{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: clamp(10px, 0.8vw, 20px) clamp(20px, 1.6vw, 40px);
    background-color: white;
    color: #333;
    border: clamp(5px, 0.2vw, 16px) solid #333;
    border-radius: clamp(10px, 0.5vw, 20px);
    font-family: Arial, sans-serif;
    font-size: clamp(18px, 1vw, 26px);
    font-weight: bolder;
  }

  #toggle:checked + .button,
  #toggle1:checked + .button,
  #toggle2:checked + .button {
    background-color: #333;
    color: white;
  }

  .zoom-controls{
    position: fixed;
    bottom: 15%;
    right: 5%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 0.6vw, 20px);
    background: #333;
    padding: clamp(10px, 0.6vw, 20px);
    border-radius: clamp(14px, 0.8vw, 24px);
    border: clamp(5px, 0.2vw, 16px) solid white;
}

.zoom-button{
    width: clamp(25px, 3.5vw, 50px);
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: white;
    color: #333;
    font-size: clamp(18px, 1.5vw, 26px);
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.zoom-separator{
  width: 100%;
  height: clamp(5px, 0.2vw, 16px);
  background-color: white;
  margin: clamp(5px, 0.2vw, 16px) auto;
}

#walkButton{
  position: absolute;
  bottom: 5%;
  left: 3%;
  padding: clamp(10px, 0.8vw, 20px) clamp(20px, 1.6vw, 40px);
  background: white;
  color: #333;
  border: clamp(7px, 0.3vw, 15px) solid #333;
  border-radius: clamp(12px, 0.5vw, 22px);
  cursor: pointer;
  font-size: clamp(18px, 1vw, 26px);
  z-index: 100;
  font-weight: bolder;
}